body {
  font-family: monospace, sans-serif;
}

.font-primary {
  color: limegreen;
}
.title-icon {
  font-size: 30px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
a.font-black {
  color: black !important;
}
/******************
About
*******************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}
#about img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
#about .name {
  font-size: 19px;
  font-weight: bold;
}
#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}
#about .skills {
  font-size: 14px;
  color: limegreen;
  margin-bottom: 10px;
  font-weight: bold;
  
}
.email {
  margin-top: 14px;
  font-size: 20px;
  color: black;
}
.icons {
  margin-top: 10px;
  font-size: 30px;
  color: limegreen;
}
#about .icons a {
  color: limegreen;
}
/**********************
Projects
**********************/
#projects {
  margin: 60px auto;
  width: 80%;
}
#projects h2 {
  text-align: center;
}
#projects .card img {
  width: 100%;
}
#projects .card-title {
  font-weight: bold;
}
.netflix {
  color: red !important;
}
.languages{font-weight: bold;
   color: limegreen;}
.twitter {color: #1DA1F2}
